/**
 * @file The app entry style
 * @author <author>
 */

@require './common/css/mixin.styl'
@require './common/css/variable.styl'
@require './common/css/common.styl'

/* app scaffold */
.page-footer
    absolute: _ 0 80px 0
    font-size: 30px
    text-align: center
